@{
    ViewBag.Title = "Home Page";
}
<div ng-app="AssessApp">
    <div class="row">
        <div class="col-lg-5">
            <h4>Assessment Details:</h4>
        </div>
    </div>
    @Html.Partial("~/Views/Home/AssessmentView.cshtml")
</div>
